<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jambon is the new chicken</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>


  <body>
    <div class="container">


      {% block body %}{% endblock %}

    </div>
  </body>
