{% extends 'base.html' %}
{% block body %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="text-center">
      <h1>Jambon is the new chicken</h1>
      <form method="POST" action='/'>
	<select id="id_ip_version_select" name="ip_version">
	  <option value="4">IPV4</option> 
	  <option value="6">IPV6</option>
	</select>
      
	<select id="id_probe_type_select" name="probe_type">
	  <option value="icmp_echo">icmp echo</option> 
	  <option value="icmp_request">ché pas moi icmp request?</option>
	</select>
      
	<label>Target host or IP address:
	  <input type="text" name="target" placeholder="Enter hostname or IP address" id="id_target">
	</label>
      
	<input type="submit" value="Submit" id="id_submit">
	{% csrf_token %}
      </form>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table id="id_list_table" class="table">
      <thead>
	<tr>
	  <th>ID</th>
	  <th>IP version</th>
	  <th>Probe type</th>
	  <th>Target</th>
	</tr>
      </thead>
      <tbody>
	{% for probe in probes %}
	<tr>
	  <td>{{ probe.id }}</td>
	  <td>{{ probe.ip_version }}</td>
	  <td>{{ probe.probe_type }}</td>
	  <td>{{ probe.target }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
