{% extends 'base.html' %}

{% block body %}
    <h1>Probe {{ probe.id }}</h1>

  <table id="id_list_table">
    <thead>
      <tr>
	<th>ID</th>
	<th>IP version</th>
	<th>Probe type</th>
	<th>Target</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>{{ probe.id }}</td>
	<td>{{ probe.ip_version }}</td>
	<td>{{ probe.probe_type }}</td>
	<td>{{ probe.target }}</td>
      </tr>
    </tbody>
  </table>

{% endblock %}
